In [1]:
import numpy as np
import pandas as pd

1. Write a Pandas program to create and display a one-dimensional array-like
object containing an array of data using Pandas module.

In [2]:
arr = np.array([1, 2, 3, 4, 5])
series = pd.Series(arr)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

2. Write a Pandas program to convert a Panda module Series to Python list
and it's type.

In [3]:
pds = pd.Series([1, 2, 3, 4, 5])
lst = pds.tolist()
print(lst)
print(type(lst))

[1, 2, 3, 4, 5]
<class 'list'>

3. Write a Pandas program to add, subtract, multiple and divide two Pandas
Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [4]:
pds_1 = pd.Series([2, 4, 6, 8, 10])
pds_2 = pd.Series([1, 3, 5, 7, 9])

print(pds_1 + pds_2)
print(pds_1 - pds_2)
print(pds_1 * pds_2)
print(pds_1 / pds_2)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas
Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [5]:
pds_1 = pd.Series([2, 4, 6, 8, 10])
pds_2 = pd.Series([1, 3, 5, 7, 9])

print(pds_1 == pds_2)
print(pds_1 > pds_2)
print(pds_1 < pds_2)

0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.
Sample Series:
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [6]:
dictonary = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
series = pd.Series(dictonary)
print(series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.
Sample Series: NumPy array:[10 20 30 40 50]

In [7]:
np_arr = np.array([10, 20, 30, 40, 50])
series = pd.Series(np_arr)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

7. Write a Pandas program to change the data type of given a column or a
Series.
Sample Series:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object

In [8]:
pds = pd.Series([100, 200, 'python', 300.12, 400])
print(pds)
pds = pd.to_numeric(pds, errors='coerce')
print(pds)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a
Series.
Sample Output:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11

In [9]:
dictonary = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}
df = pd.DataFrame(dictonary)
print(df)
series = df.iloc[:, 0]
print(series)

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

9. Write a Pandas program to convert a given Series to an array.

In [10]:
pds = pd.Series([1, 2, 3, 4, 5])
print(pds)
np_arr = pds.to_numpy()
print(np_arr)

0    1
1    2
2    3
3    4
4    5
dtype: int64
[1 2 3 4 5]

10. Write a Pandas program to convert Series of lists to one Series.

In [11]:
pds = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print(pds)
pds = pds.apply(pd.Series).stack().reset_index(drop=True)
print(pds)

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

11. Write a Pandas program to sort a given Series.

In [12]:
pds = pd.Series(['100', '200', 'python', '300.12', '400'])
print(pds)
pds = pds.sort_values()
print(pds)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

12. Write a Pandas program to add some data to an existing Series.

In [13]:
pds = pd.Series(['100', '200', 'python', '300.12', '400'])
print(pds)
pds = pd.concat([pds, (pd.Series(['500', 'php']))])
print(pds)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and
condition.

In [14]:
pds = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
print(pds)
pds = pds[pds < 6]
print(pds)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

14. Write a Pandas program to change the order of index of a given series.

In [15]:
pds = pd.Series(['A', 'B', 'C','D','E'])
print(pds)
pds = pds.reindex(index=[1, 0, 2, 4, 3])
print(pds)

0    A
1    B
2    C
3    D
4    E
dtype: object
1    B
0    A
2    C
4    E
3    D
dtype: object

15. Write a Pandas program to create the mean and standard deviation of the data of a
given Series.

In [16]:
pds = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print(pds)
print(pds.mean())
print(pds.std())

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
4.818181818181818
2.522624895547565

16. Write a Pandas program to get the items of a given series not present in another given
series.

In [17]:
pds_1 = pd.Series([1, 2, 3, 4, 5])
pds_2 = pd.Series([2, 4, 6, 8, 10])
print(pds_1)
print(pds_2)

pds_1 = pds_1[~pds_1.isin(pds_2)]
print(pds_1)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
2    3
4    5
dtype: int64

17. Write a Pandas program to get the items which are not common of two given series.

In [18]:
pds_1 = pd.Series([1, 2, 3, 4, 5])
pds_2 = pd.Series([2, 4, 6, 8, 10])
print(pds_1)
print(pds_2)

pds = pd.Series(np.union1d(pds_1, pds_2))
pds = pds[~pds.isin(np.intersect1d(pds_1, pds_2))]
print(pds)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and
maximum of a given series.

In [19]:
pds = pd.Series([42, 87, 16, 93, 58, 23, 74, 39, 65, 11])

print(pds)
print(np.percentile(pds, q=[0, 25, 50, 75, 100]))

0    42
1    87
2    16
3    93
4    58
5    23
6    74
7    39
8    65
9    11
dtype: int64
[11.   27.   50.   71.75 93.  ]

19. Write a Pandas program to calculate the frequency counts of each unique value of a
given series.

In [20]:
pds = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=20)))
print(pds)
print(pds.value_counts())

0     8
1     9
2     5
3     0
4     2
5     5
6     2
7     5
8     6
9     2
10    9
11    3
12    1
13    6
14    1
15    0
16    5
17    3
18    0
19    7
dtype: object
5    4
2    3
0    3
6    2
9    2
1    2
3    2
8    1
7    1
Name: count, dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace
everything else as 'Other' in the series.

In [21]:
pds = pd.Series(np.random.randint(1, 5, [15]))
print(pds)
print(pds.value_counts())
pds[~pds.isin(pds.value_counts().index[:1])] = 'Other'
print(pds)

0     4
1     4
2     4
3     4
4     4
5     3
6     3
7     3
8     1
9     2
10    3
11    3
12    1
13    4
14    2
dtype: int64
4    6
3    5
1    2
2    2
Name: count, dtype: int64
0         4
1         4
2         4
3         4
4         4
5     Other
6     Other
7     Other
8     Other
9     Other
10    Other
11    Other
12    Other
13        4
14    Other
dtype: object

<ipython-input-21-d34b89df28de>:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  pds[~pds.isin(pds.value_counts().index[:1])] = 'Other'

21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a
given series.
Sample Output:
Original Series:
0 1
1 9
2 8
3 6
4 9
5 7
6 1
7 1
8 1
dtype: int64

Positions of numbers that are multiples of 5:[]

In [22]:
pds = pd.Series(np.arange(1, 16))
print(pds)
print(pds[pds % 5 == 0].index)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
dtype: int64
Index([4, 9, 14], dtype='int64')

22. Write a Pandas program to extract items at given positions of a given series.

In [23]:
pds = pd.Series(list('2390238923902390239023'))
print(pds)
position = [0, 2, 6, 11, 21]
print(pds.take(position))

0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     9
8     2
9     3
10    9
11    0
12    2
13    3
14    9
15    0
16    2
17    3
18    9
19    0
20    2
21    3
dtype: object
0     2
2     9
6     8
11    0
21    3
dtype: object

23. Write a Pandas program to get the positions of items of a given series in another
given series.

In [24]:
pds = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(pds)

lst  = [1, 3, 5, 7, 10]
print(pds[pds.isin(lst)].index)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
Index([0, 2, 4, 6, 9], dtype='int64')

24. Write a Pandas program convert the first and last character of each word to upper
case in each word of a given series.

In [25]:
pds = pd.Series(['php', 'python', 'java', 'c#'])
print(pds)
pds = pds.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print(pds)

0       php
1    python
2      java
3        c#
dtype: object
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

25. Write a Pandas program to calculate the number of characters in each word in a given
series.

In [26]:
pds = pd.Series(['php', 'python', 'java', 'c#'])
print(pds)
pds = pds.map(lambda x: len(x))
print(pds)

0       php
1    python
2      java
3        c#
dtype: object
0    3
1    6
2    4
3    2
dtype: int64

26. Write a Pandas program to compute difference of differences between consecutive
numbers of a given series.

In [27]:
pds = pd.Series([1, 3, 5, 8, 10, 11, 15])
print(pds)
print(pds.diff().tolist())

0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]

27. Write a Pandas program to convert a series of date strings to a timeseries.

In [28]:
pds = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12'])
print(pds)
pds = pd.to_datetime(pds, format='mixed')
print(pds)

0    01 Jan 2015
1     10-02-2016
2       20180307
3     2014/05/06
4     2016-04-12
dtype: object
0   2015-01-01
1   2016-10-02
2   2018-03-07
3   2014-05-06
4   2016-04-12
dtype: datetime64[ns]

28. Write a Pandas program to get the day of month, day of year, week number and day
of week from a given series of date strings.

In [29]:
pds = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12'])
print(pds)
pds = pd.to_datetime(pds, format='mixed')
print(pds)
print(pds.dt.day.tolist())
print(pds.dt.dayofyear.tolist())
print(pds.dt.isocalendar().week.tolist())
print(pds.dt.day_name().tolist())

0    01 Jan 2015
1     10-02-2016
2       20180307
3     2014/05/06
4     2016-04-12
dtype: object
0   2015-01-01
1   2016-10-02
2   2018-03-07
3   2014-05-06
4   2016-04-12
dtype: datetime64[ns]
[1, 2, 7, 6, 12]
[1, 276, 66, 126, 103]
[1, 39, 10, 19, 15]
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday']

29. Write a Pandas program to convert year-month string to dates adding a specified day
of the month.

In [30]:
pds = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
print(pds)
pds = pd.to_datetime(pds)
print(pds)
print(pds.dt.year.tolist())
print(pds.dt.month.tolist())
print(pds.dt.day.tolist())

0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object
0   2015-01-01
1   2016-02-01
2   2017-03-01
3   2018-04-01
4   2019-05-01
dtype: datetime64[ns]
[2015, 2016, 2017, 2018, 2019]
[1, 2, 3, 4, 5]
[1, 1, 1, 1, 1]

<ipython-input-30-b776f2a8fd27>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pds = pd.to_datetime(pds)

30. Write a Pandas program to filter words from a given series that contain atleast two
vowels.

In [31]:
pds = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print(pds)
result = pds.str.count('[aeiouAEIOU]') >= 2
print(pds[result])

0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object
1     Green
2    Orange
4    Yellow
5     White
dtype: object

31. Write a Pandas program to compute the Euclidean distance between two given series.
Euclidean distance
From Wikipedia,
In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line
distance between two points in Euclidean space. With this distance, Euclidean space
becomes a metric space. The associated norm is called the Euclidean norm.

In [32]:
pds_1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
pds_2 = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])

print(pds_1)
print(pds_2)

euclidean_distance = np.sqrt(((pds_1 - pds_2) ** 2).sum())
print(euclidean_distance)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    11
1     8
2     7
3     5
4     6
5     5
6     3
7     4
8     7
9     1
dtype: int64
16.492422502470642

32. Write a Pandas program to find the positions of the values neighboured by smaller
values on both sides in a given series.

In [35]:
pds = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print(pds)

positions = [i for i in range(1, len(pds) - 1) if pds[i] > pds[i - 1] and pds[i] > pds[i + 1]]

print("Positions of values neighbored by smaller values on both sides:", positions)

0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
Positions of values neighbored by smaller values on both sides: [1, 4, 8]

33. Write a Pandas program to replace missing white spaces in a given string with the
least frequent character.

In [37]:
data = "This is an example text with missing white spaces."

series = pd.Series(list(data))

freq = series.value_counts()

least_frequent_char = freq.idxmin()

result = data.replace(" ", least_frequent_char)

print("Original String:", data)
print("Modified String:", result)

Original String: This is an example text with missing white spaces.
Modified String: ThisTisTanTexampleTtextTwithTmissingTwhiteTspaces.

34. Write a Pandas program to compute the autocorrelations of a given numeric series.
From Wikipedia:
Autocorrelation, also known as serial correlation, is the correlation of a signal with a
delayed copy of itself as a function of delay. Informally, it is the similarity between
observations as a function of the time lag between them.

In [38]:
series = pd.Series([1, 2, 3, 4, 5, 6])

def autocorrelation(s, lag):
    return s.autocorr(lag)

autocorrelations = {lag: autocorrelation(series, lag) for lag in range(1, len(series))}

print("Autocorrelations:")
for lag, value in autocorrelations.items():
    print(f"Lag {lag}: {value}")

Autocorrelations:
Lag 1: 0.9999999999999999
Lag 2: 1.0
Lag 3: 1.0
Lag 4: 0.9999999999999999
Lag 5: nan

/usr/local/lib/python3.11/dist-packages/numpy/lib/_function_base_impl.py:2914: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.11/dist-packages/numpy/lib/_function_base_impl.py:2773: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
/usr/local/lib/python3.11/dist-packages/numpy/lib/_function_base_impl.py:2773: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

35. Write a Pandas program to create a TimeSeries to display all the Sundays of given
year.

In [39]:
year = 2023

date_range = pd.date_range(start=f'{year}-01-01', end=f'{year}-12-31', freq='W-SUN')

print("All Sundays of the year:")
print(date_range)

All Sundays of the year:
DatetimeIndex(['2023-01-01', '2023-01-08', '2023-01-15', '2023-01-22',
               '2023-01-29', '2023-02-05', '2023-02-12', '2023-02-19',
               '2023-02-26', '2023-03-05', '2023-03-12', '2023-03-19',
               '2023-03-26', '2023-04-02', '2023-04-09', '2023-04-16',
               '2023-04-23', '2023-04-30', '2023-05-07', '2023-05-14',
               '2023-05-21', '2023-05-28', '2023-06-04', '2023-06-11',
               '2023-06-18', '2023-06-25', '2023-07-02', '2023-07-09',
               '2023-07-16', '2023-07-23', '2023-07-30', '2023-08-06',
               '2023-08-13', '2023-08-20', '2023-08-27', '2023-09-03',
               '2023-09-10', '2023-09-17', '2023-09-24', '2023-10-01',
               '2023-10-08', '2023-10-15', '2023-10-22', '2023-10-29',
               '2023-11-05', '2023-11-12', '2023-11-19', '2023-11-26',
               '2023-12-03', '2023-12-10', '2023-12-17', '2023-12-24',
               '2023-12-31'],
              dtype='datetime64[ns]', freq='W-SUN')

36. Write a Pandas program to convert given series into a dataframe with its index as
another column on the dataframe.

In [40]:
pds = pd.Series(['A', 'B', 'C', 'D', 'E'])
print(pds)
df = pds.to_frame().reset_index()
df.columns = ['index', 'values']
print(df)

0    A
1    B
2    C
3    D
4    E
dtype: object
   index values
0      0      A
1      1      B
2      2      C
3      3      D
4      4      E

37. Write a Pandas program to stack two given series vertically and horizontally.

In [42]:
pds_1 = pd.Series([1, 2, 3, 4, 5])
pds_2 = pd.Series([6, 7, 8, 9, 10])

print("Vertically stacked:")

print(pd.concat([pds_1, pds_2]))

print("Horizontally stacked:")
print(pd.concat([pds_1, pds_2], axis=1))

Vertically stacked:
0     1
1     2
2     3
3     4
4     5
0     6
1     7
2     8
3     9
4    10
dtype: int64
Horizontally stacked:
   0   1
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

38. Write a Pandas program to check the equality of two given series.

In [44]:
pds_1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
pds_2 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])


print(pds_1 == pds_2)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

39. Write a Pandas program to find the index of the first occurrence of the smallest and
largest value of a given series.

In [45]:
pds = pd.Series([1, 3, 5, 7, 10, 2, 4, 6, 8, 9])
print(pds)
print(pds.idxmin())
print(pds.idxmax())

0     1
1     3
2     5
3     7
4    10
5     2
6     4
7     6
8     8
9     9
dtype: int64
0
4

40. Write a Pandas program to check inequality over the index axis of a given dataframe
and a given series.

In [46]:
df = pd.DataFrame({'W':[68,75,86,80,66],'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});

print(df)

s = pd.Series([68, 75, 86, 80, 66])

print(s)

print(df.ne(s, axis = 0))

    W   X   Y   Z
0  68  78  84  86
1  75  85  94  97
2  86  96  89  96
3  80  80  83  72
4  66  86  86  83
0    68
1    75
2    86
3    80
4    66
dtype: int64
       W      X     Y     Z
0  False   True  True  True
1  False   True  True  True
2  False   True  True  True
3  False  False  True  True
4  False   True  True  True